<% layout('layouts/bolerplate') %>
<h1 class="text-center">Editing Form</h1>
<!-- <form action="/campgrounds/<%= camp._id %>?_method=PUT " method="post">
  <div>
    <label for="title">Title</label>
    <input
      type="text"
      id="title"
      placeholder="title"
      name="campground[title]"
      value="<%= camp.title %> "
    />
  </div>
  <div>
    <label for="location">Location</label>
    <input
      type="text"
      id="location"
      placeholder="location"
      name="campground[location]"
      value="<%= camp.location %> "
    />
  </div>
  <button>Submit</button>
</form> -->

<form
  class="mb-3 validation"
  action="/campgrounds/<%= camp._id %>?_method=PUT "
  method="post"
  novalidate
>
  <div class="row">
    <div class="col-6 offset-3">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="campground[title]"
          value="<%= camp.title %> "
          aria-describedby="emailHelp"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please select a valid state.</div>
      </div>
      <div class="mb-3">
        <label for="position" class="form-label">position</label>
        <input
          type="text"
          class="form-control"
          id="position"
          name="campground[location]"
          value="<%= camp.location %> "
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please select a valid state.</div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          type="number"
          class="form-control"
          id="price"
          name="campground[price]"
          value="<%= camp.price %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please select a valid state.</div>
      </div>
      <div class="mb-3">
        <label for="img" class="form-label">Image url</label>
        <input
          type="text"
          class="form-control"
          id="img"
          name="campground[image]"
          value="<%= camp.image %> "
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please select a valid state.</div>
      </div>
      <div class="mb-3">
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="discription"
            style="height: 100px"
            name="campground[discription]"
            required
          >

          <%= camp.discription %> </textarea
          >
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please select a valid state.</div>
          <label for="floatingTextarea2">discription</label>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
<div class="text-center">
  <button type="button" class="btn btn-primary">
    <a class="text-white" href="/campgrounds">all campground</a>
  </button>
</div>
